*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

ul li{
    list-style: none;

}
a{
    text-decoration: none;
}
// color
$color-slider:#504e9b;
$color-button-primary:#1be75f;
$color-button-secondary:#3e73ee;
$color-button-tertiary:#e7eaee;
$color-search:#5f84d6;