.container-footer {
    margin-top: 4rem;
    background: #f4f4f4;

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 2rem;

        .bold {
            font-weight: bold;
            font-size: 1.2rem;

        }



        .first {

            form {
                margin-top: 1rem;
                margin-bottom: 1rem;

                input {
                    margin-right: 1rem;
                    width: 12rem;
                    padding: 0.4rem;
                }
            }
        }

        .second {
            ul {
                gap: 1rem;
                display: flex;
                flex-direction: column;
            }

        }

        .third {
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

        }

        .fourth {
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

        }

        .fifth {
            ul {
                gap: 1rem;
                display: flex;
                flex-direction: column;
            }

        }
    }

}